In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import numpy as np
%matplotlib inline
warnings.filterwarnings("ignore")


# create a dataFrame object with title, score and release_year
df = pd.read_csv("dataframe_all3.csv")[["name", "location", "bubble", "dollars", "rating"]]
df['country'] = df['location'].str.rsplit(',').str[-1] 
df.reset_index(drop=True)
df['country'].astype(str) # change type from 'object' to string
df['tourism'] = np.where(df['country'] == ' Denmark', 'Local', 'Tourist')
df

,name,location,bubble,dollars,rating,country,tourism
0,"The restaurant is cozy, the staffs are friendl...",NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
1,Ate here last night with a group of friends. ...,"Waukesha, Wisconsin","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Wisconsin,Tourist
2,"Awesome!! Delicious food, nice staff. We had ...","Hong Kong, China","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,China,Tourist
3,We wanted a nice dinner. We could place our o...,"Sollentuna, Sweden","<span class=""ui_bubble_rating bubble_20""></span>",NaN,20,Sweden,Tourist
4,Restuarant Tight is located off the main shopp...,"London, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
5,We concluded our trip to Denmark by stumbling ...,NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
6,Visited on a Sunday night\nWe booked a table b...,"Newquay, United Kingdom","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,United Kingdom,Tourist
7,"Based on reviews of this establishment, my hus...",NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
8,"Had a late lunch at Tight, ordering off the lu...",Texas,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Texas,Tourist
9,A great dinner with most gracious staff for ou...,"Aurora, Colorado","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Colorado,Tourist
10,My husband and I ate here for our last dinner ...,"San Francisco, California","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,California,Tourist
11,We sat upstairs and had a really delightful lu...,"New York City, New York","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,New York,Tourist
12,This restaurant was recommended by a friend an...,"Madrid, Spain","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Spain,Tourist
13,Nice place for dinner just off the shopping st...,"Chicago, Illinois","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Illinois,Tourist
14,Small dishes Tapas style was served. All three...,NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
15,Our table was on the second floorâ€”good for peo...,"Princeton, New Jersey","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,New Jersey,Tourist
16,Used TA to find a restaurant and settled on Ti...,NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
17,We enjoyed our meal at Tight. I had booked a ...,Seattle,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Seattle,Tourist
18,"Lovely restuarant. We were greeted promptly, a...",Cheshire,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Cheshire,Tourist
19,A very welcoming host that made our visit perf...,"Stockholm, Sweden","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Sweden,Tourist
20,Husband and I just had dinner here. I had the ...,Maui,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Maui,Tourist
21,This is very centrally located. We tried their...,"Bucharest, Romania","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Romania,Tourist
22,Found this restaurant after a tip from a local...,NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
23,Had a very good meal here.\nWhen we booked we ...,"Surrey, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
24,Restaurant Tight is an inviting multi-level re...,"New York City, New York","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,New York,Tourist
25,Came to Tight based on reviews here and Rick S...,Toronto,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Toronto,Tourist
26,A very cozy and nice restaurant with two floor...,"Stromstad, Sweden","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Sweden,Tourist
27,Donâ€™t miss this restaurant during your Copenha...,"Chattanooga, Tennessee","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,Tennessee,Tourist
28,I am currently writing this as I am finishing ...,NaN,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,NaN,Tourist
29,First time in Copenhagen from Scotland .. so ...,"Copenhagen, Denmark","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Denmark,Local
...,...,...,...,...,...,...,...
7169,Waiting is never good when you are in the line...,Florida,"<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Florida,Tourist
7170,Went here late on a Sunday when everywhere els...,"Devizes, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
7171,We were in town on vacation and staying about ...,"Richmond, Virginia","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Virginia,Tourist
7172,"Pizza was good, but service was not very nice ...","Paris, France","<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,France,Tourist
7173,It was super busy the night we rocked up - ano...,"Coventry, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
7174,"Pizza was delish, in a laid-back atmosphere wi...","Washington DC, District of Columbia","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,District of Columbia,Tourist
7175,This is listed by many articles as the best pi...,"Copenhagen, Denmark","<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,Denmark,Local
7176,"Iâ€™ve had a reservation at 20:30, which I recko...",NaN,"<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,NaN,Tourist
7177,â€œTHIS is MY RESTAURANT and I will run it HOW I...,NaN,"<span class=""ui_bubble_rating bubble_10""></span>",NaN,10,NaN,Tourist
7178,Dined at Mother's twice... Margharita pizza th...,"Minneapolis, Minnesota","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Minnesota,Tourist
7179,Waiting is never good when you are in the line...,Florida,"<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Florida,Tourist
7180,Went here late on a Sunday when everywhere els...,"Devizes, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
7181,We were in town on vacation and staying about ...,"Richmond, Virginia","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Virginia,Tourist
7182,"Pizza was good, but service was not very nice ...","Paris, France","<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,France,Tourist
7183,It was super busy the night we rocked up - ano...,"Coventry, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
7184,"Pizza was delish, in a laid-back atmosphere wi...","Washington DC, District of Columbia","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,District of Columbia,Tourist
7185,This is listed by many articles as the best pi...,"Copenhagen, Denmark","<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,Denmark,Local
7186,"Iâ€™ve had a reservation at 20:30, which I recko...",NaN,"<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,NaN,Tourist
7187,â€œTHIS is MY RESTAURANT and I will run it HOW I...,NaN,"<span class=""ui_bubble_rating bubble_10""></span>",NaN,10,NaN,Tourist
7188,Dined at Mother's twice... Margharita pizza th...,"Minneapolis, Minnesota","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Minnesota,Tourist
7189,Waiting is never good when you are in the line...,Florida,"<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Florida,Tourist
7190,Went here late on a Sunday when everywhere els...,"Devizes, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
7191,We were in town on vacation and staying about ...,"Richmond, Virginia","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Virginia,Tourist
7192,"Pizza was good, but service was not very nice ...","Paris, France","<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,France,Tourist
7193,It was super busy the night we rocked up - ano...,"Coventry, United Kingdom","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,United Kingdom,Tourist
7194,"Pizza was delish, in a laid-back atmosphere wi...","Washington DC, District of Columbia","<span class=""ui_bubble_rating bubble_50""></span>",NaN,50,District of Columbia,Tourist
7195,This is listed by many articles as the best pi...,"Copenhagen, Denmark","<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,Denmark,Local
7196,"Iâ€™ve had a reservation at 20:30, which I recko...",NaN,"<span class=""ui_bubble_rating bubble_30""></span>",NaN,30,NaN,Tourist
7197,â€œTHIS is MY RESTAURANT and I will run it HOW I...,NaN,"<span class=""ui_bubble_rating bubble_10""></span>",NaN,10,NaN,Tourist
7198,Dined at Mother's twice... Margharita pizza th...,"Minneapolis, Minnesota","<span class=""ui_bubble_rating bubble_40""></span>",NaN,40,Minnesota,Tourist

In [17]:
df = df.loc[df['tourism'] =='Local']
# tourist
# df = df.loc[df['tourism'] =='Tourist']

In [18]:
local_freq = df.to_csv('local_freq.csv')
# local_freq = df.to_csv('tourist_freq.csv')